.DemoPage {
  .backButton {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: orange;
    font-size: 20px;
    color: white;

    &:hover {
      opacity: 0.9;
    }
  }

  .iframe {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    .title {
      font-size: 25px;
      font-weight: bold;
    }
    iframe {
      height: 70%;
      width: 80%;
    }
  }
}
